<li class="list-group-item">
    <div class="card">
        <div class="card-body">            
            <h3 class="card-title">
                <a href="/category/{{id}}">{{name}}</a>
            </h3>
            <p class="card-text">{{description}}</p>
        </div>
    </div>    
</li>