<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>

        {{#each cart.items as |item|}}
        {{> item-details}}
        {{/each}}

        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <p class="lead fw-normal mb-2">Total: ${{cart.subtotal}}</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <button {{#if cart.subtotal}}id="checkout" data-mdb-toggle="modal" data-mdb-target="#checkoutModal" {{/if}}
              type="button" class="btn btn-warning btn-block btn-lg">Checkout</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutLabel">Checkout</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">All of your items have been added to an order and will be arriving at your location soon!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          <a href="./" style="color: white">Back to Home</a>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="../js/cart.js"></script>