<!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel">

    <!-- Indicators -->
    <div class="carousel-indicators">
    {{#each categories as |category|}}
    {{> carousel-details indicators=true}}
    {{/each}}
    </div>

    <!-- Inner -->
    <div class="carousel-inner rounded-5 shadow-4-strong">
    {{#each categories as |category|}}
    {{> carousel-details}}
    {{/each}}
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
<!-- Carousel wrapper -->



{{#each categories as |category|}}
{{> category-details}}
{{/each}}